body{
background-image: url('fondo.gif');
background-size: cover;
}
h1{
	text-align: center; 
    background-color: #7DDBC6; 
    padding: 0px 20px; 
    margin: 40px 300px; 
    border-radius: 20px;
    align-items: center;
    border-style: 10px;
    font-size: 100px;
    display: flex;
    font-family: sans-serif;
}

form{
	 text-align: center; 
     size: 100px;
}
.boton button{
    background-color: yellow;
    margin: 40px 500px; 
    display: flex;
    border-style: none;
    font-size: 50px;
    border-radius: 20px;
    font-family: arial-serif;
}
.boton button:hover{
    background-color: lightblue;
     transition: background-color 0.3s ease, color 0.3s ease;
}

.palabra label{
    background-color: #FF9D4B;
    display: inline;
     font-size: 50px;
    padding-bottom: 50px;
    font-family: sans-serif;
    border-radius: 20px;
}